@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    
</p>
<p>
@Html.ActionLink("Create new author", "Create", "Author")
@Html.ActionLink("Find author", "Find", "Author")
@Html.ActionLink("Class", "ClassifyRecord", "Record")
@Html.ActionLink("LoadContent", "Upload", "Content")
</p>